@using EntityLayer.Concrete
@model List<Announcement>
@{
    string color = "";
}

<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
    <p class="mb-0 font-weight-normal float-left dropdown-header">Bildirimler</p>
    @foreach(var item in Model){
        if (item.Status == "Yeni Ders")
        {
            color = "preview-icon bg-success";
        }
        if (item.Status == "Yeni Proje")
        {
            color = "preview-icon bg-primary";      
        }
        if (item.Status == "Yeni Film")
        {
            color = "preview-icon bg-danger";
        }
        if (item.Status == "Yeni Dizi")
        {
            color = "preview-icon bg-info";
        }
        if (item.Status == "Yeni Oyun")
        {
            color = "preview-icon bg-warning";
        }
        if (item.Status == "İlk duyuru")
        {
            color = "preview-icon bg-primary";   @*Öylesine koyulmuştur*@
        }
        
        <a class="dropdown-item preview-item" href="/Writer/Default/AnnouncementDetails/@item.Id">
        <div class="preview-thumbnail">
            <div class="@color">
                <i class="ti-info-alt mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-normal">@item.Title</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
                @item.Status
            </p>
        </div>
    </a>
    }










    @* <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <div class="@color">
                <i class="ti-settings mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-normal">Ayarlar</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
                Private message
            </p>
        </div>
    </a>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <div class="@color">
                <i class="ti-user mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-normal">New user registration</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
                2 days ago
            </p>
        </div>
    </a> *@
    
</div>